<a href="https://colab.research.google.com/github/kbhuj001/CSC221_kbhuj001/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names = ('Iskita', 'Abhishek', 'Uma', 'Priya')
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Iskita
Abhishek
Uma
Priya

In [25]:
names = ['iskita', 'abhishek', 'uma', 'priya']


messages = [
    f"Hello, {name.title()}! What do you want to eat?" for name in names
]


print(messages[0])
print(messages[1])
print(messages[2])
print(messages[3])

Hello, Iskita! What do you want to eat?
Hello, Abhishek! What do you want to eat?
Hello, Uma! What do you want to eat?
Hello, Priya! What do you want to eat?

In [1]:
favorite_cars = ['Tesla Model 3', 'Porsche 911', 'Audi A4', 'Ford Mustang', 'Jeep Wrangler']

print("I would like to own a " + favorite_cars[0] + ".")
print("I would like to own a " + favorite_cars[1] + ".")
print("I would like to own an " + favorite_cars[2] + ".")
print("I would like to own a " + favorite_cars[3] + ".")
print("I would like to own a " + favorite_cars[4] + ".")

I would like to own a Tesla Model 3.
I would like to own a Porsche 911.
I would like to own an Audi A4.
I would like to own a Ford Mustang.
I would like to own a Jeep Wrangler.

In [2]:
guests = ['Albert Einstein', 'Marie Curie', 'Isaac Newton']

for guest in guests:
    print(f"Dear {guest}, you are invited to dinner at my place.")

Dear Albert Einstein, you are invited to dinner at my place.
Dear Marie Curie, you are invited to dinner at my place.
Dear Isaac Newton, you are invited to dinner at my place.

In [3]:
cannot_attend = 'Marie Curie'
new_guest = 'Nikola Tesla'

print(f"\nUnfortunately, {cannot_attend} can't make it to the dinner.\n")
guests[guests.index(cannot_attend)] = new_guest
for guest in guests:
    print(f"Dear {guest}, you are invited to dinner at my place.")

Unfortunately, Marie Curie can't make it to the dinner.

Dear Albert Einstein, you are invited to dinner at my place.
Dear Nikola Tesla, you are invited to dinner at my place.
Dear Isaac Newton, you are invited to dinner at my place.

In [4]:
print("\nGreat news! I found a bigger dinner table.\n")

guests.insert(0, 'Leonardo da Vinci')
guests.insert(len(guests) // 2, 'Galileo Galilei')
guests.append('Stephen Hawking')

for guest in guests:
    print(f"Dear {guest}, you are invited to dinner at my place.")

Great news! I found a bigger dinner table.

Dear Leonardo da Vinci, you are invited to dinner at my place.
Dear Albert Einstein, you are invited to dinner at my place.
Dear Galileo Galilei, you are invited to dinner at my place.
Dear Nikola Tesla, you are invited to dinner at my place.
Dear Isaac Newton, you are invited to dinner at my place.
Dear Stephen Hawking, you are invited to dinner at my place.

In [5]:

places_to_visit = ['Tokyo', 'Paris', 'Machu Picchu', 'Bora Bora', 'New York City']

print("Original Order:")
print(places_to_visit)

print("\nAlphabetical Order:")
print(sorted(places_to_visit))

print("\nOriginal Order (still):")
print(places_to_visit)


print("\nReverse Alphabetical Order:")
print(sorted(places_to_visit, reverse=True))


print("\nOriginal Order (still):")
print(places_to_visit)


places_to_visit.reverse()
print("\nReversed Order:")
print(places_to_visit)


places_to_visit.reverse()
print("\nBack to Original Order:")
print(places_to_visit)


places_to_visit.sort()
print("\nAlphabetical Order (modified):")
print(places_to_visit)


places_to_visit.sort(reverse=True)
print("\nReverse Alphabetical Order (modified):")
print(places_to_visit)

print("\nNumber of Places Invited to Visit:", len(places_to_visit))

Original Order:
['Tokyo', 'Paris', 'Machu Picchu', 'Bora Bora', 'New York City']

Alphabetical Order:
['Bora Bora', 'Machu Picchu', 'New York City', 'Paris', 'Tokyo']

Original Order (still):
['Tokyo', 'Paris', 'Machu Picchu', 'Bora Bora', 'New York City']

Reverse Alphabetical Order:
['Tokyo', 'Paris', 'New York City', 'Machu Picchu', 'Bora Bora']

Original Order (still):
['Tokyo', 'Paris', 'Machu Picchu', 'Bora Bora', 'New York City']

Reversed Order:
['New York City', 'Bora Bora', 'Machu Picchu', 'Paris', 'Tokyo']

Back to Original Order:
['Tokyo', 'Paris', 'Machu Picchu', 'Bora Bora', 'New York City']

Alphabetical Order (modified):
['Bora Bora', 'Machu Picchu', 'New York City', 'Paris', 'Tokyo']

Reverse Alphabetical Order (modified):
['Tokyo', 'Paris', 'New York City', 'Machu Picchu', 'Bora Bora']

Number of Places Invited to Visit: 5

In [6]:

cubes = [x**3 for x in range(60, 86) if x % 7 == 0]

for cube in cubes:
    print(cube)

250047
343000
456533
592704

In [ ]:
x_values = [40, 50, 120, -8, 6]
y_values = [7.4 * x + 51 for x in x_values]

print(y_values)