In [1]:
million_list = list(range(1, 1000001))
print(min(million_list))
print(max(million_list))
print(sum(million_list))

1
1000000
500000500000

In [2]:
odd_number_list = list(range(1, 20, 2))
# print(odd_number_list)
for odd_number in odd_number_list :
  print(odd_number)

1
3
5
7
9
11
13
15
17
19

In [3]:
cubes_list = []
for cube in range(1, 11):
  value = cube**3
  print(value)
  cubes_list.append(value)

1
8
27
64
125
216
343
512
729
1000

In [5]:
cubes_list2 = [x ** 3 for x in range(1, 11)]
print(cubes_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
print(f"{cubes_list2[:3]} are the first three items in the list.")
print(f"{cubes_list2[4:7]} are the middle three items in the list.")
print(f"{cubes_list2[7:]} are the last three items in the list.")

[1, 8, 27] are the first three items in the list.
[125, 216, 343] are the middle three items in the list.
[512, 729, 1000] are the last three items in the list.

In [8]:
buffet = ('Chicken chow mein', 'Sesame Chicken', 'Pork egg roll', 'beef teriyaki')
for food in buffet:
  print(food.title())



buffet =('Chicken Teriyaki', 'Sesame Chicken', 'Pork egg roll', 'beef teriyaki')
print("\nRevised Menu:")
for food in buffet:
  print(food.title())

Chicken Chow Mein
Sesame Chicken
Pork Egg Roll
Beef Teriyaki

Revised Menu:
Chicken Teriyaki
Sesame Chicken
Pork Egg Roll
Beef Teriyaki

In [9]:
def factorial(num) :
  list_for_loop = [x for x in range(1, num+1)]
  fact = 1
  for i in list_for_loop :
    fact *= i

  return fact

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [10]:
def special_factorial(num) :
  list_for_loop = [x for x in range(1, num+1)]
  fact = 1
  for i in list_for_loop :
    if i != 4 and i != 13 and i != 22 :
      fact *= i

  return fact

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000